<mat-toolbar style="background-color: black; color:#fff;">
    <h1 style="margin-left: 120px;">Free shipping on all orders over $50</h1>
    <h1 style="color: #fff; margin-right: 100px; margin-left: 20rem;" >Eng <mat-icon>keyboard_arrow_down</mat-icon></h1>
        <h1 style="margin-right: 40px;">Faqs</h1>
        <h1><mat-icon>info</mat-icon>Need help</h1>
</mat-toolbar>
<mat-toolbar style="background-color: rgb(230, 238, 242);">
<img src="./assets/images/Logo Icon.png" style="margin-left: 200px;" alt=""> <h1>Comforty</h1>
<img src="./assets/images/Search@2x.png" style="width: 270px; margin-left: 200px;" alt="">
<img src="./assets/images/User Links.png"  style="margin-left: 180px;">
</mat-toolbar>
<div >
   <img src="./assets/images/Links.png" width="1260px" alt="">
</div>

<mat-card style="background-color:rgb(230, 238, 242); width: 1170px; height: 700px; margin-top: -6px; margin-left: 50px; border-radius: 0px 0px 40px 40px;">
    <img src="./assets/images/BG Shapes copy.png" style="margin-left: 470px; width: 600px;" alt="">
    <img src="./assets/images/Product Image.png" style="width: 370px; margin-top: -400px; margin-left: 600px;"alt="">
    <mat-card style="background-color: #fff;border-radius:100px; width: 100px; height: 100px; margin-top: -500px;  margin-left: 880px;"><h1 style="margin-left: 30px; margin-top: 5px; font-weight: 30; color: #f10707;">54%</h1> <br><p style="margin-top: -20px; margin-left: 20px;">Discount</p></mat-card>
    <div style="margin-left: 140px; margin-top: 100px;"><p>WELCOME TO CHAIRY</p>
        <h1 style="font-size:45px ; line-height: 1.0;">Best Furniture <br> Collection For Your <br> Interior.</h1>
        <button mat-raised-button style="width: 130px; background-color: rgb(5, 99, 239); color: #fff;">  Shop Now <mat-icon style=" color: #edf5f5; ">arrow_forward</mat-icon></button></div>
        <div> <img src="./assets/images/Feature.png" width="1000px"  height="300px" style="margin-left: 100px; margin-top: 100px; "></div>
        <mat-icon style="background-color: #fff; border-radius: 30px; margin-top: -35rem; margin-left: 40px; color: #12eff3;">arrow_back</mat-icon>
        <mat-icon style="background-color: #fff; border-radius: 30px; margin-top: -1rem; margin-left: 70rem; color: #12eff3;">arrow_forward</mat-icon>  
        <div style="margin-top: 200px; margin-left: 33rem;"> <mat-icon style="color: rgb(129, 127, 127); font-size: 15px;">lens</mat-icon><mat-icon style="font-size: 15px;">lens</mat-icon><mat-icon  style="color: rgb(129, 127, 127); font-size: 15px;" >lens</mat-icon></div>
</mat-card>

<div> <img src="./assets/images/Company Logo.png" width="900px" style="margin-top: 100px; margin-left: 200px;" alt=""></div>

<div>
    <h1 style="margin-left: 180px;">Featured Products</h1>
    <div style="display: flex; margin-left: 65rem; margin-top: -2rem; margin-bottom: 10px;">
        <mat-icon style="background-color: #0999c1;  color: #f6f8f8; border-radius: 30px; margin-right: 3px;">arrow_back</mat-icon>
        <mat-icon style="background-color: #e8dede; border-radius: 30px;  color: #0a0b0b;">arrow_forward</mat-icon></div>
</div>

<div style="margin-left: 180px; justify-content: space-around;">
    <img src="./assets/images/Products (5).png" width="220px" style="margin-right: 20px;" alt="">
    <img src="./assets/images/Products (6).png" width="220px" style="margin-right: 20px;" alt="">
    <img src="./assets/images/Products (7).png" width="220px" style="margin-right: 20px;" alt="">
    <img src="./assets/images/Products (8).png" width="220px" style="margin-right: 20px;" alt="">
</div>
<div>
    <h1 style="margin-left: 200px; margin-top: 40px;"> Top Categories</h1>
    <div style="display: flex; margin-left: 65rem; margin-top: -2rem; margin-bottom: 10px;">
        <mat-icon style="background-color: #0999c1;  color: #f6f8f8; border-radius: 30px; margin-right: 3px;">arrow_back</mat-icon>
        <mat-icon style="background-color: #e8dede; border-radius: 30px;  color: #0a0b0b;">arrow_forward</mat-icon></div>
</div>

<div style="" >
    <img src="./assets/images/Category (3).png" width="175px" style="margin-right: 20px;" alt="">
    <img src="./assets/images/Category (4).png" width="270px" style="margin-right: 20px;" alt="">
    <img src="./assets/images/Category (5).png" width="270px" style="margin-right: 20px;" alt="">
    <img src="./assets/images/Category (6).png" width="270px" style="margin-right: 20px;" alt="">
    <img src="./assets/images/Category (7).png" width="175px" alt="">
    </div>
    <div style="text-align: center;">
        <h1>Our Products</h1> 
    </div>
    <div style="display: flex; justify-content: center;"><p style="margin-right: 20px; border-bottom: 3px solid rgb(0, 255, 204) ;">ALL</p> <p style="margin-right: 20px;">NEWEST</p> <p style="margin-right: 20px;">TRENDING</p> <p style="margin-right: 20px;">BEST SELLERS</p> <p style="margin-right: 20px;">FEATURED</p></div>
    <div style="margin-left: 200px; justify-content: space-around;">
        <img src="./assets/images/Products (5).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (6).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (7).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (8).png" width="220px" style="margin-right: 20px;" alt="">
    </div>

    <div style="margin-left: 200px; justify-content: space-around; margin-top: 30px;">
        <img src="./assets/images/Products (9).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (10).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (11).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (12).png" width="220px" style="margin-right: 20px;" alt="">
    </div>
    
    <div style="background-color:rgb(230, 238, 242); width: 100%; height: 500px; display: flex; margin-top: 40px; ">
        <div>
            <h1 style="margin-left: 190px; margin-top: 60px;">What Client Says About Us</h1>
            <div style="display: flex; margin-left: 65rem; margin-top: -2rem; margin-bottom: 10px;">
                <mat-icon style="background-color: #0999c1;  color: #f6f8f8; border-radius: 30px; margin-right: 3px;">arrow_back</mat-icon>
                <mat-icon style="background-color: #e8dede; border-radius: 30px;  color: #0a0b0b;">arrow_forward</mat-icon></div>
        </div>
        
        <mat-card style="width: 450px; height: 250px; margin-top: 180px; margin-left: -900px;"> 
            <p style="text-align: left; margin-left: 50px; margin-top: 30px;"> "Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Ellt <br>
                Vivamus Sit Amet Mi Nec Massa Tincidunt Blandit Et Eu Sem. <br> Maecenas Laoreet Ultrices Diam Dignissim Pasшего <br>Aenean Ultrices Dui At Ipsum Sagittis, Pharetra Lacinia <br> Dui Faucibus in Ac Bibendum Ex. Aenean Dolor Masse

        </p> 
        <img src="./assets/images/Profile.png" width="150px" style="margin-left: 50px; margin-top: 30px;" alt="">
        <img src="./assets/images/double_quotes_r 1.png" width="140px" style="margin-left: 300px; margin-top: -5rem;" alt="">
        </mat-card>
        <mat-card style="width: 450px; height: 250px; margin-top: 180px; margin-left: 20px;"> <p style="text-align: left; margin-left: 50px; margin-top: 30px;"> Nullam Seplen Elit, Dignissim Es Viverra Et, Scelerisque Et <br>
            Fells. Aliquam Egestas Dui Elit, Quis Tincidunt Lacus <br>Aliquam Et. Duis Nulla Velit, Dignissim Lit Odio Ac, <br> Eleifend Luctus Lea. Ut Ac Imperdiet Velit. Aliquam <br> Semper Ex in volutpat Rutrum.</p>
            <img src="./assets/images/Profile (1).png" width="150px" style="margin-left: 50px; margin-top: 30px;" alt="">
        <img src="./assets/images/double_quotes_r 1.png" width="140px" style="margin-left: 300px; margin-top: -5rem;" alt="">
        </mat-card>
    </div>

    <div >
        <h1 style="margin-left: 180px; margin-top: 40px;">Recenty Add</h1>
        <div style="display: flex; margin-left: 65rem; margin-top: -2rem; margin-bottom: 10px;">
            <mat-icon style="background-color: #0999c1;  color: #f6f8f8; border-radius: 30px; margin-right: 3px;">arrow_back</mat-icon>
            <mat-icon style="background-color: #e8dede; border-radius: 30px;  color: #0a0b0b;">arrow_forward</mat-icon></div>
    </div>
    
    <div style="margin-left: 180px; justify-content: space-around;">
        <img src="./assets/images/Products (5).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (6).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (7).png" width="220px" style="margin-right: 20px;" alt="">
        <img src="./assets/images/Products (8).png" width="220px" style="margin-right: 20px;" alt="">
    </div>
    <hr style="margin-top: 50px;">

    <div class="footer-page" style="margin-bottom: 50px;">
        <div class="box1">
            
          
            <img src="./assets/images/Logo.png" style="margin-top: 90px; margin-left: 70px;" alt="">
            <p>Vivamus tristique odio sit amet velit semper,<br>
                 eu posuere turpis interdum. <br>
                  Cras egestas purus
         </p>
         <img src="./assets/images/Social Links.png" style="margin-left: 70px;" alt="">
        </div>
        <div class="box2">
            <h3> CATEGORY</h3>
            <p> <a href="#">Sofa</a></p>
            <p><a href="#">Armchair</a></p>
            <p><a href="#" style="color: #12eff3;"> Wing Chair</a></p>
            <p><a href="#"> Desk Chair</a></p>
            <p><a href="#"> wooden Chair</a></p>
            <p> <a href="#"> Park Bench</a></p>
        </div>
        <div class="box3">
            <h3> SUPPORT</h3>
            <p><a href="#">Help & Support</a></p>
            <p> <a href="#"> Tearms & Conditions</a></p>
            <p><a href="#"> Privacy Policy</a></p>
            <p><a href="#"> Help</a></p>
        </div>
        <div class="box4">
            <h3>NEWSLETTER</h3>
            <div><img src="./assets/images/Rectangle 32.png" alt="">
            <img src="./assets/images/Button.png" alt=""></div>
            <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Nullam tincidunt erat enim</a></p>
        </div>
    
    
    
    </div>
    
    <footer>
    
        <div style="border-top: 1px solid #4c4b4b;">
    
            <mat-toolbar width="100%" style=" color: #0b0b0b; font-size: 15px;">
    
                <p style="margin-left: 80px;"> @ 2024-blogy-Designed & Developed by Kriya Global It services </p>
                <div class="space"></div>
                <img src="./assets/images/Group 13.png" style="margin-left: 23rem; opacity: 0.3; width: 350px;" alt="">
            </mat-toolbar>
    
        </div>
    </footer>
    
    
    
    